
<div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <form [formGroup]="signupForm" (ngSubmit)="onFormSubmit()">
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                id="username"
                formControlName="username"
                class="form-control"
              />
              <span
                *ngIf="
                  signupForm.get('username').invalid &&
                  signupForm.get('username').touched
                "
                class="help-block text-danger"
                >Enter a valid username</span
              >
            </div>
            <div class="form-group">
              <label for="email">email</label>
              <input
                type="text"
                id="email"
                formControlName="email"
                class="form-control"
              />
              <span
                *ngIf="
                  signupForm.get('email').invalid && signupForm.get('email').touched
                "
                class="help-block text-danger"
                >Enter a valid emailId</span
              >
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
            </form>
      </div>
    </div>
  </div>